@inherits LayoutComponentBase

<PageTitle>ilcs-pelindo</PageTitle>

<div class="page">
    <main>
        <div class="container mt-5">
            <article class="content px-4">
                @Body
            </article>
        </div>
    </main>
</div>